@import "../../utils/styles/variables";

#Caroussel {
	width: 100%;
	height: 420px;
	border-radius: 20px;
	margin-bottom: 40px;
	position: relative;

	#CarousselIMG {
		width: 100%;
		height: 420px;
		border-radius: 20px;
		object-fit: cover;
	}
	
	p {
		position: absolute;
		bottom: 0;
		right: 50%;
		transform: translateX(50%);
		color: white;
		font-weight: 500;
		font-size: 18px;
	}

	#leftArrow {
		position: absolute;
		height: 100%;
		width: 48px;
		object-fit: contain;
		border-radius: 20px 0 0 20px;
		background-color: rgba(0, 0, 0, 0.5);
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		cursor: pointer;
		padding: 0 20px 0 20px;
	}

	#rightArrow {
		position: absolute;
		height: 100%;
		width: 48px;
		object-fit: contain;
		border-radius: 0 20px 20px 0;
		background-color: rgba(0, 0, 0, 0.5);
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		cursor: pointer;
		padding: 0 20px 0 20px;
	}

	@media screen and (max-width: $mobileWidth) {
		height: 255px;

		#CarousselIMG {
			height: 255px;
		}

		#leftArrow {
			background-color: rgba(0, 0, 0, 0.1);
			width: 12px;
		}

		#rightArrow {
			background-color: rgba(0, 0, 0, 0.1);
			width: 12px;
		}
	}
}
